/*
font-family: 'Amble-Bold';
font-family: 'Amble-Light';
font-family: 'Amble-Regular';
font-family: 'Avenir-Light';
font-family: 'Big John';
font-family: 'Slim Joe';
*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --black: #1c1c1c;
    --orange: #f3793d;
}

body {
    font-family: 'Amble-Light';
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--black);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Big John';
    font-weight: 400;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    margin: 0 auto;
    font-family: 'Amble-Bold';
    font-size: 1.5rem;
    color: var(--black);
    padding: 10px 0;
    text-align: center;
    border: 3px solid var(--black);
    transition: .2s color linear, .1s background ease;
}

.btn:hover {
    background: var(--black);
    color: #fff;
}

/* Header 
------------------------------*/

header {
    /*background: url(../img/header/background.jpg) no-repeat center;
    background-color: rgb(255, 106, 27);
    background-color: linear-gradient(90deg, rgba(255,163,66,1) 0%, rgba(240,112,72,1) 51%, rgba(220,73,66,1) 100%);
    background-blend-mode: soft-light;
    */
    background: url(../img/header/bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 50px;
    position: relative;
}

.nav {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background: rgba(247, 215, 143, 0.3);
    position: absolute;
}

.nav.show {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav__link {
    font-family: 'Amble-Regular';
    font-size: 1.5rem;
    color: #fff;
    transition: color .2s linear;
}

.nav__link:hover {
    color: var(--black);
}

.header-intro {
    margin: 0 auto;
    max-width: 690px;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5px;
}

.header__title {
    margin-top: 220px;
    font-size: 3rem;
}

.header__title:after, .block__title:after, .apply__text:after, .work-grid__sub:after {
    content: "";
    display: block;
    margin: 50px auto 45px;
    width: 86px;
    height: 2px;
    background: #fff;
}

.header__text {
    margin-bottom: 250px;
    font-family: 'Amble-Regular';
    line-height: 1.4;
}

/* Burger ----- */

.burger__item {
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    z-index: 4;
}

.burger__item:before, .burger__item:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.burger__item:before {
    top: -10px;
}

.burger__item:after {
    bottom: -10px;
}

/* --- */

.scroll {
    display: block;
    width: 30px;
    height: 48px;
    margin: 0 auto 11px;
    background: url(../img/header/mouse.svg) no-repeat;
    transition: .3s transform ease;
}

.scroll:hover {
    transform: translateY(-20px);
}

/* Block
------------------------------*/

.block {
    padding: 115px 0;
}

.block__main {
    margin: 0 auto;
    max-width: 770px;
    text-align: center;
}

.block__title {
    font-size: 1.875rem;
}

.block__title:after {
    background: var(--black);
}

.block--work, .block--about {
    padding-bottom: 80px;
}

.block--clients {
    background: #f4f4f4;
}

/* Big image block
------------------------------*/

.img-block {
    padding: 200px 0;
    text-align: center;
    background-blend-mode: soft-light;
}

.img-block__button {
    display: block;
    margin: 0 auto;
    padding: 25px 0;
    width: 430px;
    border: 3px solid #fff;
    font-family: 'Amble-Bold';
    font-size: 1.875rem;
    color: #fff;
    transition: background .2s linear, .1s ease color;
}

.img-block__button:hover {
    color: var(--black);
    background: #fff;
}

/* Pure creativity
------------------------------*/

.img-block--creativity {
    background: url(../img/pure_creativity/background.jpg) no-repeat center, var(--black);
    background-size: cover;
}

/* Work
------------------------------*/

.work-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 680px;
    margin: 0 auto;
}

.work-nav__btn {
    text-transform: uppercase;
    font-family: 'Slim Joe';
    font-size: 1.125rem; 
}

.work-nav__btn:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    margin-top: 5px;
    background: #ccc;
    opacity: 0;
    transition: .1s opacity linear;
}

.work-nav__btn:hover:after {
    opacity: 1;
}

.work-nav__btn:active {
    font-family: 'Big John';
}

.work-grid {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 420px;
    column-gap: 30px;
    grid-row-gap: 20px;
}

.work-grid__item {
    position: relative;
    overflow: hidden; 
    background: #000;
    transition: border .1s linear;
}

.work-grid__img--fifth {
    display: flex;
    justify-content: center;
}

.work-grid__text {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .2s linear;
}

.work-grid__title {
    font-size: 1.125rem;
    color: #fff;
}

.work-grid__sub {
    font-family: 'Amble-Regular';
    font-size: 1.5rem;
    color: #fff;
}

.work-grid__sub:after {
    width: 50px;
    height: 2px;
    background: var(--orange);
    margin: 30px auto 0;
}

.work-grid__img {
    background: #000;
}

.work-grid__img img {
    transition: opacity .1s linear;
}

.work-grid__item:hover {
    border: 5px solid var(--black);
}

.work-grid__item:hover .work-grid__img img {
    opacity: 0.3;
}

.work-grid__item:hover .work-grid__text {
    opacity: 1;
}

.btn--work {
    width: 370px;
}

/* Help
------------------------------*/

.img-block--help {
    background: url(../img/help/background.jpg) no-repeat center, var(--black);
    background-size: cover;
}

/* Clients
------------------------------*/

.clients {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

.clients-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
}

.clients__item:hover .clients-img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /
}

/* About
------------------------------*/

.team-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 270px;
    grid-auto-rows: 360px;
    column-gap: 30px;
}

.team-grid__item {
    position: relative;
    overflow: hidden;
    background: #000;
    transition: border .1s linear;
}

.team-grid__item:hover {
    border: 5px solid var(--black);
}

.team-grid__item:hover .team-grid__img {
    opacity: 0.4;
}

.team-grid__item:hover .team-grid__text {
    opacity: 1;
}

.team-grid__img {
    display: flex;
    justify-content: center;
    background: #000;
    background-size: cover;
    transition: opacity .1s linear;
}

.team-grid__img img {
    background: #000;
    background-blend-mode: luminosity;
}

.team-grid__text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px 25px 12px;
    opacity: 0;
    transition: opacity .1s linear;
}

.team-grid__title {
    text-align: center;
}

.team-grid__name {
    font-size: 1.5rem;
    color: #fff;
}

.team-grid__prof {
    font-family: 'Amble-Bold';
    font-size: 1.125rem;
    color: #fff;
}

.team-grid__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 45px;
    height: 45px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: background .1s linear, color .1s linear;
}

.team-grid__icon:hover {
    background: #fff;
    color: #000;
}

.team-grid__apply {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid var(--black);
    text-align: center;
    padding: 60px 40px;
}

.apply__text {
    text-transform: uppercase;
    font-family: 'Big John';
    font-size: 1.5rem;
}

.apply__text:after {
    margin: 45px auto 40px;
    background: var(--black);
}

.btn--about {
    padding: 8px 0;
    width: 100%;
}


/* Video
------------------------------*/

.img-block--video {
    background: url(../img/video/background.jpg) no-repeat center, var(--black);
    background-size: cover;
}

.video-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 3px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: #fff;
    transition: background .1s linear, color .1s linear;
}

.video-btn:hover {
    background: #fff;
    color: var(--black);
}

/* ipads
------------------------------*/

.ipad-block {
    padding-bottom: 60px;
}

.ipads {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 90px;
}

.ipads__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ipads__item + .ipads__item {
    margin-left: 30px;
} 

.ipads__title, .ipads__text {
    font-family: 'Amble-Regular';
    text-transform: none;
}

.ipads__title {
    margin: 30px 0;
}

.ipads__text {
    line-height: 1.8;
    font-size: 0.99rem;
}

.ipad-slider {
    margin: 70px auto 0;
    display: flex;
    width: 40px;
    justify-content: space-between;
}

.slider__btn {
    display: block;
    width: 13px;
    height: 13px;
    background: #d5d5d5;
    border-radius: 50%;
}

.slider__btn:active {
    background: var(--orange);
}

/* Get quote
------------------------------*/

.img-block--quote {
    background: url(../img/quote/background.jpg) no-repeat center, var(--black);
    background-size: cover;
}


/* Form
------------------------------*/

.form-block {
    display: flex
}

.form-left {
    padding: 110px 155px 110px 0;
    flex-basis: 38%;
    background: #f2f2f2;
    display: flex;
    justify-content: flex-end;
}

.form-right {
    padding: 100px 0 120px 100px;
    flex-basis: 62%;
    background: #e4e4e4;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 670px;
}

/*

.form-block {
    background: -webkit-linear-gradient(90deg, #f2f2f2 38%, #e4e4e4 38%);
    background: -moz-linear-gradient(90deg, #f2f2f2 38%, #e4e4e4 38%);
    background: linear-gradient(90deg, #f2f2f2 38%, #e4e4e4 38%);
}

.form-inner {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
}

.form-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 670px;
}

*/

.form__title {
    font-size: 1.5rem;
}

.location {
    padding: 30px 0;
    font-style: italic;
}

.social {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: flex-end;
}

.social__item, .social__item:visited {
    color: var(--black);
    transition: .1s color linear;
}

.social__item:hover {
    color: var(--orange);
}

input {
    background: none;
    border: none;
}

.form-input {
    width: 300px;
    padding: 15px 25px;
    border-bottom: 2px solid #afafaf;
    font-family: 'Amble-Light';
    font-size: 1.125rem;
    color: var(--black);
}

.form-input--message {
    margin-top: 80px;
    width: 100%;
}

.form-input::-webkit-input-placeholder {
    font-family: 'Amble-Regular';
    font-size: 1.125rem;
    font-style: italic;
    color: #676767;
}

.form-input:-moz-placeholder {
    font-family: 'Amble-Regular';
    font-size: 1.125rem;
    font-style: italic;
    color: #676767;
}

.btn--form {
    margin-right: 0;
    margin-top: 40px;
    width: 180px;
}

/* Footer
------------------------------*/

footer {
    padding: 100px 0 80px;
    background: var(--black);
    text-align: center;
}

.credits {
    margin-top: 50px;
    font-family: 'Amble-Regular';
    font-size: 1rem;
    color: #e4e4e4;
}

.credits__span {
    font-family: 'Amble-Bold';
    color: var(--orange);
}


/* Responsive 
------------------------------*/

/* 993 - 1200 */
@media screen and (max-width: 1200px) {
    
    .container {
        width: 960px;
    }
    
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .clients {
        justify-content: space-around;
        margin-top: 65px;
    }
    
    .clients__item {
        margin-top: 5px;
    }
    
    .form-left {
        padding-right: 70px;
    }
    
    .form-right {
        padding-left: 70px;
    }
    
    .form {
        width: 500px;
    }
    
    .form-input + .form-input {
        margin-top: 20px;
    }
    
    .form-input, .form-input--message {
        width: 400px;
    }
    
    .btn--form {
        margin-left: 0;
    }
    
}

/* 901 - 992 */
@media screen and (max-width: 992px) {
    
    :root {
        font-size: 14px;
    }
    
    .container {
        width: 720px;
    }
    
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        grid-row-gap: 20px;
    }
    
    .img-block {
        padding: 110px 0;
    }
    
    .block {
        padding: 80px 0;
    }
}

/* 769 - 900 */
@media screen and (max-width: 900px) {
    
    .form-block {
        flex-direction: column;
    }
    
    .form-left, .form-right {
        padding: 35px 0;
    }
    
    .form-left__inner, .form {
        margin: 0 auto;
        text-align: center;
    }
    
    .location {
        padding: 10px 0;
    }
    
    .form {
        flex-direction: column;
        justify-content: center;
        width: 400px;
    }
    
    .form-input, .btn--form {
        width: 100%;
    }
    
    footer {
        padding: 40px 0;
    }
}

/* */
@media screen and (max-width: 768px) {
    
    .container {
        width: 540px;
    }
    
    :root {
        font-size: 12px;
    }
    
    .header__title {
        margin-top: 150px;
    }
    
    .header__text {
        margin-bottom: 150px;
    }
    
    .block {
        padding: 50px 0;
    }
    
    .block__title:after {
        margin: 30px auto;
    }
    
    .img-block {
        padding: 80px 0;
    }
    
    .img-block__button {
        padding: 20px 0;
        width: 330px;
    }
    
    .work-grid {
        margin: 50px 0;
        grid-template-columns: 1fr;
    }
    
    .ipads {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    
    .ipads__item + .ipads__item {
        margin-top: 20px;
        margin-left: 0;
    }
    
    .ipads__title {
        margin: 5px 0;
        font-size: 1.8rem;
    }
    
    .ipads__text {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    
    .ipad-slider {
        margin-top: 40px;
    } 
    
    br {
        display: none;
    }
    
    .nav {
        height: 19%;
    }
    
    .header-nav {
        flex-wrap: wrap;
    }
    
    .scroll {
        display: none;
    }
    
    .footer__logo {
        width: 300px;
    }
    
    .credits {
        margin-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    
    .container {
        width: 90%;
    }
    
    :root {
        font-size: 10px;
    }
    
    .nav {
        height: 25%;
    }
    
    header {
        padding: 30px;
    }
    
    .header__title {
        margin-top: 70px;
    }
    
    .header__title:after, .block__title:after {
        margin: 20px auto;
    }
    
    .header__text {
        margin-bottom: 70px;
    }
    
    .block {
        padding: 35px 0;
    }
    
    .clients {
        margin-top: 40px;
    }
    
    .team-grid {
        column-gap: 20px;
    }
    
    footer {
        padding: 20px 0;
    }
    
    .footer__logo {
        width: 200px;
    }
    
    .credits {
        margin-top: 10px;
    }
    
    .work-nav {
        justify-content: space-around;
    }
    
}


@media screen and (max-width: 430px) {
    
    .team-grid {
        grid-template-columns: 1fr;
    }
    
    .form {
        width: 250px;
    }
    
    .btn--work, .img-block__button {
        width: 100%;
    }
    
    .work-grid, .team-grid {
        margin-top: 20px;
    }
    
    .team-grid__apply {
        justify-content: center;
    }
    
    .clients {
        flex-direction: column;
        align-items: center;
    }
}

